p {
  font-family: 'Cantarell', sans-serif;
}

i.fab {
  font-family: 'FontAwesome';
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'Fjalla One', sans-serif !important;
}

#hobbies {
  margin-top: 4em;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .skill {
    text-align: center;
    max-width: 300px;
    min-width: 280px;
    max-height: 135px;
    margin: 10px 20px 30px 20px;
    transition: 0.5s;
    font-family: 'Cantarell', sans-serif;

    .textOverText {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }

    &:hover, &:focus {
        -ms-transform: scale(0.90); /* IE  */
        -webkit-transform: scle(0.90); /* Safari */
        transform: scale(0.90);
        transition: 0.8s;
        a {
          text-decoration: none;
          font-style: normal;
          color: black;
        }

      }


      .textOverText:after {
        content:attr(data-inactive);
        top: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        white-space: pre-wrap;
        overflow: hidden;
        font-style: normal;
        text-decoration: none;
        color: black;
      }

      .textOverText:hover:after {
        content:attr(data-hover);
        transition: 0.8s;
        top: 0;
        font-style: normal;
        text-decoration: none;

      }
    }
  }

    // // light peach: #FEF4F2;
    //   medium peach: #F9E0DB #
    //   dark-peach: #f7a799}
@media screen and (min-width: 320px) and (max-width: 768px) {

}

