p {
  font-family: 'Cantarell', sans-serif;
}

h1, h2, h3 {
  font-family: 'Fjalla One', sans-serif !important;
}


.projects {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;
  text-shadow: 3px 3px 3px #f9e0db;
  .articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 2rem;
    .article {
      display: grid;
      margin: auto;
      margin-bottom: 2rem;
      box-shadow: 1rem 1rem 1rem -1rem #e5e3e3;
      margin-left: 2rem;
      margin-right: 2rem;
      border-radius: 4px;
      width: 72%;
      transition: 0.5s;
      img {
        margin: auto;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      a {
        text-transform: none;
        color: inherit;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        p {
          margin: 0;
          padding: 15px 0 15px 0;
        }
      }
  &:hover, &:focus {
        -ms-transform: scale(0.90); /* IE  */
        -webkit-transform: scle(0.90); /* Safari */
        transform: scale(0.90);
        transition: 0.8s;
      }
    }
  }
}

.social-media {
  display: flex;
  justify-content: space-around;
  p {
    color: #333333;
    padding: 8px 8px 2px 8px;
    font-size: 15px;
  }
  .social-links {
    a {
      color: #333333;
      padding: 8px 8px 2px 8px;
      font-size: 20px;
      font-style: normal;

      &:hover {
        color: #f7a799;
        font-style: normal;
        text-decoration: none;
      }
    }
  }
}
