p {
font-family: 'Cantarell', sans-serif;
}

h1, h2, h3 {
font-family: 'Fjalla One', sans-serif !important;
}


.projects {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;
  text-shadow: 3px 3px 3px #f9e0db;
}
.container {

  .post-slider {
    position: relative;

    .next {
      position: absolute;
      top: 50%;
      right: 30px;
      font-size: 2em;
      color: #f7a799;
      cursor: pointer;
    }

    .prev {
      position: absolute;
      top: 50%;
      left: 30px;
      font-size: 2em;
      color: #f7a799;
      cursor: pointer;
    }

    .post-wrapper {
      width: 84%;
      height: 305px;
      margin: 0px auto;
      overflow: hidden;
      // padding: 10px 0 10px 0;

    .post {
      display: inline-block;
      background-color: white;
      max-width: 400px;
      max-height: 300px;
      margin: 0px 10px ;
      border-radius: 4px;
      margin-bottom: 25px;
      object-fit: cover;
      box-shadow: 1rem 1rem 1rem -1rem #e5e3e3;

      h3, p, a {
        color: black;
        text-decoration: none;
        font-style: normal;
      }
      }

      .post-info {
        max-height: 100px;
        padding: 5px 5px 5px 5px;
        text-align: center;
      }

      .slider-image img {
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

      }
    }

  }
  }



  .social-media {
    display: flex;
    justify-content: space-around;
    p {
      color: #333333;
      padding: 8px 8px 2px 8px;
      font-size: 15px;
    }
    .social-links {
      a {
    color: #333333;
    padding: 8px 8px 2px 8px;
    font-size: 20px;
    font-style: normal;

    &:hover {
    color: #f7a799;
    font-style: normal;
    text-decoration: none;
    }
  }
    }
  }
