p {
  font-family: 'Cantarell', sans-serif;
}

h1, h2, h3 {
  font-family: 'Fjalla One', sans-serif !important;
}


.projects {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 4em;
  text-shadow: 3px 3px 3px #f9e0db;
  .articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 2rem;
    article {
      display: grid;
      margin: auto;
      margin-bottom: 2rem;
      box-shadow: 1rem 1rem 1rem -1rem #e5e3e3;
      margin-left: 2rem;
      margin-right: 2rem;
      border-radius: 4px;
      width: 72%;
      transition: 0.5s;
      img {
        margin: auto;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      .flag-icon {
          width: 24px;
        }
      a {
        text-transform: none;
        color: inherit;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        p {
          margin: 0;
          padding: 15px 0 15px 0;
          .padding-top {
          padding-top: 10px;
          }
        }
      }
  &:hover, &:focus {
        -ms-transform: scale(0.90); /* IE  */
        -webkit-transform: scle(0.90); /* Safari */
        transform: scale(0.90);
        transition: 0.8s;
      }
    }
  }
}


article.purple-shadow {
  box-shadow: -18px 10px 0px 2px #7d1785 !important;
  border-width: 4px;
  border-style: solid;
  border-color: #bf8de8;
  border-radius: 4px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  p {
    color: #333333;
    padding: 8px 8px 2px 8px;
    font-size: 15px;
  }
  .social-links {
    a {
      color: #333333;
      padding: 8px 8px 2px 8px;
      font-size: 20px;
      font-style: normal;

      &:hover {
        color: #f7a799;
        font-style: normal;
        text-decoration: none;
      }
    }
  }
}

.purple-background {
  background-color: #0e0134;
  h1, h2, p, a {
    color: #bf8de8;
    text-shadow: 5px 5px 5px #7d1785;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .projects {
    .articles {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
