<nav class="navbar">
    <div class="home">
      <LinkTo @route="home">
        <strong>Home</strong>
      </LinkTo>
    </div>
    <div class="about-contact">
      <span><a href="about">About</a></span>
    </div>
</nav>
