<nav class="navbar">
    <div class="home">
      <LinkTo @route="home">
        <strong>Home</strong>
      </LinkTo>
    </div>
    <div class="about-contact">
      <span><LinkTo @route="about">About</LinkTo></span>
    </div>
</nav>
