<nav class="navbar {{if @isToggled "purple"}}" >
    <div class="home">
      <LinkTo @route="home">
        <strong>Home</strong>
      </LinkTo>
      <div id="toggle-component">
        <XToggle
        @theme='light'
        @value={{@isToggled}}
        @onToggle={{@toggle}}
        @size={{'small'}}
        />
      </div>
    </div>
    <div class="about-contact">
      <span><LinkTo @route="about">About</LinkTo></span>
    </div>
</nav>
