.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;

    span {
  padding: 15px 10px 15px 10px;
  }

  .home {
    display: contents;
  }
  .toggle-component {
    display: inline-flex;
  }

  a {
  font-family: 'Cantarell', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: black;

    &:hover {
  text-decoration: none;
  color: #f7a799;
    }
  }
}

.navbar.purple {
  display: flex;
  justify-content: space-between;
  background-color: black;
  a, .toggle-component, p {
    color: #7d1785;
  }
}
