
  <div class="banner">
    <div class="about-photo" src="female-dev.png" width="400">
    </div>
    <div class="name-role-description">
      <div class="tech-stack">
        <h1 class="title">Tech stack</h1>
      </div>
      <div class="cards">
        <div class="card">
          <img src="html5.svg" height="60" alt="HTML5">
          <img src="css3.svg" height="60" alt="CSS3">
          <img src="bootstrap.svg" height="60" alt="bootstrap">
          <img src="javascript.svg" height="60" alt="JavaScript">
        </div>
        <div class="card">
          <img src="ruby-original.svg" height="60" alt="Ruby">
          <img src="rails-original.svg" height="60" alt="Ruby on Rails">
        </div>
        <div class="card">
          <img src="git.svg" height="60" alt="Git">
          <img src="github.svg.svg" height="60" alt="Github">
          <img src="heroku.svg" height="60" alt="Heroku">
        </div>
      </div>
    </div>
  </div>

  <div class="projects">
    <h1>Skills</h1>
  </div>

  <div class="skills">
    <div class="skill">
      <img src="interview.png" width="80">
      <div class="textOverText" data-inactive="Tech Recruitment"  data-hover="3+ years of experience">
<!--       <div class="sub-text">
      3+ years of experience
      </div> -->
    </div>
    </div>

    <div class="skill">
      <img src="open-book.png" width="80">
      <div class="textOverText" data-inactive="Popularizing/Teaching tech for non tech teams"   data-hover="Workshops & internal e-learning course for tech knowledge/awareness">
<!--       <div class="sub-text">
      Workshops & internal e-learning course for tech knowledge/awareness
      </div> -->
    </div>
    </div>

    <div class="skill">
      <img src="team.svg" width="80">
      <div class="textOverText"data-inactive="Mentoring & Coaching with 20+ people team" data-hover="Onboarded 20+ junior HR colleagues, led 4-5 teammembers">
<!--       <div class="sub-text">
      Onboarded 20+ junior HR colleagues, led 4-5 team members
      </div> -->
    </div>
    </div>

    <div class="skill">
      <img src="telemarketer.png" width="80">
      <div class="textOverText" data-inactive="Developer support in their job hunt"  data-hover="2000+ calls with developers">
<!--       <div class="sub-text">
      2000+ calls with developers
      </div> -->
      </div>
    </div>

   <div class="skill">
    <img src="bookshelf.png" width="80">
      <div class="textOverText" data-inactive="Organisation/Structure"  data-hover="Notion, Trello, GCalencar Expert ;)">
<!--       <div class="sub-text">
      Notion, Trello, Post it!
      </div> -->
    </div>
  </div>

    <div class="skill">
      <img src="workspace.png" width="80">
      <div class="textOverText" data-inactive="English & French speaker" data-hover="Native French, fluent in English">
<!--       <div class="sub-text">
      Native French speaker, fluent in English
      </div> -->
    </div>
    </div>
  </div>

