

<div class="banner">
  <div class="name-role-description">
    <div class="name-role">
      <h2>Agathe Badia</h2>
      <h1 class="title">Junior Developer</h1>
    </div>
    <div class="description-card">
      <p>I am a Junior Developer with a background in tech recruiting. After three years in the HR field and talking with many passionate developers, I decided to become one!</p>
      <span class="social-media">
        <p>Follow me :)</p>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/agathe-badia/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://github.com/Agathebadia" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://twitter.com/Agathe_BADIA" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/agathe.badia/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </span>
    </div>
  </div>
  <div class="circle-picture">
    <img src="assets/images/profile-picture2.png" width="300">
  </div>
</div>

<div class="projects"><h1>Content writing</h1>
  <div class="articles">
    <div class="article">
      <a href="https://cult.honeypot.io/reads/journey-to-software-development/" target="_blank">
        <img src="assets/images/journey-to-dev.jpg" height='230'>
        <p>My Journey to Software Development</p>
      </a>
    </div>
    <div class="article">
      <a href="https://cult.honeypot.io/reads/being-a-junior-developer-during-covid-19" target="_blank">
        <img src="assets/images/remote.jpg" height='230'>
        <p>Being a Junior Developer during Covid-19</p>
      </a>
    </div>
  </div>
</div>

<div class="projects">
  <h1>Projects</h1>
</div>

<div class="container">
      <!-- Post slider -->
        <div class="post-slider">
  <div class="post-wrapper">

    {{#slick-slider adaptiveHeight=false pauseOnHover=true autoplay=true arrows=false nextArrow="<i class='fas fa-chevron-right next'></i>" prevArrow="<i class='fas fa-chevron-left prev'></i>"}}

        <div class="post">
          <div class="slider-image">
            <a href="https://becoming-a-developer.netlify.app/" target="_blank">
              <img src="assets/images/becoming-a-dev.png">
              <p>Side project, Ember App</p>
            </a>
          </div>
        </div>

        <div class="post">
          <div class="slider-image">
            <a href="http://www.myoja.de/" target="_blank">
            <img src="assets/images/oja.png">
            <p>Bootcamp final app, two weeks project</p>
          </a>
          </div>
        </div>

        <div class="post">
          <div class="slider-image">
            <a href="https://tooli-capmarvel.herokuapp.com/" target="_blank">
            <img src="assets/images/tooli.png">
            <p>One week project</p>
          </a>
          </div>
        </div>

        <div class="post">
          <div class="slider-image">
            <a href="https://rails-agathe-cocktail-322.herokuapp.com/" target="_blank">
              <img src="assets/images/miss-cocktail.png">
              <p>One day project</p>
            </a>
          </div>
        </div>

        {{/slick-slider}}
      </div>
    </div>
        </div>


